
@{
    ViewData["Title"] = "Category Not Exists";
}
<div class="col-md-9" >
    <div class="blog-posts">
      
        <marquee direction="right">  <h1 id="error">This Category not exsist</h1></marquee>
        </div>
    </div>
@section Head {
    <style>
        #error{
            right:150px;
             font:bolder;
             margin-top:100px;
             color:red;
        }
        
    </style>
}