@model IEnumerable<string>
@{
    Layout = null;
}
<header class="navbar navbar-default hidden-menu">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-sm-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="menu-title">Menu</span>
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="social-icons nav navbar-nav">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" id="navbarDrop2" class="dropdown-toggle" data-toggle="dropdown">Contact</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop2">
                                <li><a asp-action="Register" asp-controller="Register">Register</a></li>
                                <li><a asp-action="Login" asp-controller="Login">Login</a></li>
                                
                            </ul>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

